# Node / pnpm
node_modules
.pnpm
.env
.DS_Store

# Next.js
.next
out

# Turbo / pnpm store
turbo
dist
build

# Logs & reports
*.log
*.tsbuildinfo
coverage

# Docker
*.local
docker-compose.override.yml 